body {
    background-color: #f3ede6;
    font-family: "Playwrite GB S", cursive;
}

.logo > img {
    width: 150px;
    display: block;

}

header {
    background-color: #648181;
    padding: 15px;
    display: flex;
    margin: 20px 0;
    align-items: center;
    flex-direction: column;

}

a {
    text-decoration: none;
    padding: 20px;
    color: black;
    font-size: 20px;
}

li {
    list-style-type: none;
    display: inline-block;
}

ul {
    display: flex;
    flex-direction: row;
}

.slogan {
    background-color: #bfcdcc;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

.text-willkommen {
    padding: 0 60px;
}

.vorstellung_restaurant {
    background-color: #edc3ae;
    padding: 80px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vorstellung_restaurant > img {
    width: 400px;
    float: left;
}


.vorstellung_restaurant > p {
    text-align: justify;
    text-align-last: none;
}

.speisekarte > img {
    width: 800px;
}

.speisekarte {
    text-align: center;
    background-color: #edc3ae;
    padding: 20px;
    margin: 20px 0;
}

.mittig {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #f3edf3;
    padding: 5px;
}

.standort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #bfcdcc;
    padding: 20px 0;
}
.standort > img {
    width: 400px;
    padding: 20px;
}

.text-standort {
    padding: 20px;
}

.karte {
    background-color: #bfcdcc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; 
    margin: 0 auto; 
}

#month-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; 
    margin-bottom: 1em;
}

#days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 800px; 
    text-align: center;
    font-weight: bold;
}

#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 800px; 
    gap: 1px;
    grid-auto-rows: minmax(120px, auto); 
}

.day {
    border: 1px solid #648181;
    padding: 0.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1em; 
}

.event {
    background-color: #648181;
    color: #f3ede6;
    padding: 0.2em;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.event-details {
    display: none;
    background-color: #648181;
    border: 2px solid black;
    padding: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    max-width: 300px;
    max-height: 150px; /* Begrenzen der maximalen Höhe */
    box-sizing: border-box;
    white-space: normal;
    overflow-y: auto; /* Hinzufügen einer Scrollbar */
    font-size: 0.8em; /* Verkleinern der Schriftgröße */
}

.event-details strong {
    display: block;
    text-align: center;
}

.event:hover .event-details {
    display: block;
}


#reservation {
    background-color: #bfcdcc;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 60px;
    margin: 20px;
}

input {
    display: flex;
    padding: 5px;
    margin: 10px;
}

#contact {
    background-color: #edc3ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin: 20px;
}

textarea {
    display: flex;
    padding: 5px;
    margin: 10px;
}

button {
    display: flex;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #648181;
    color: #bfcdcc;
}

.address {
    display: block;
    text-align: center;
    background-color: #648181;
    padding: 20px;
}

.Formulare {
    display: flex;
    justify-content: center;

}

#events {
    background-color: #edc3ae;
    padding: 20px;
}

#events > h2 {
    text-align: center;
    background-color: #f3ede6;
    padding: 5px;
}