body {
    background-color: #f3ede6;
}

.logo > img {
    width: 100px;
    margin: 0 auto;
}

header {
    background-color: #648181;
    padding: 20px;
}

.slogan {
    background-color: #bfcdcc;
    padding: 20px;
}

.vorstellung_restaurant {
    background-color: #edc3ae;
}

.vorstellung_restaurant > img {
    width: 500px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
